<ul *ngFor="let comment of comments">
  <li>
    <p><b>{{comment.User.Login}}:&nbsp;</b>{{comment.UserComment}}</p>  
  </li>
</ul>

<br />
<div id="commentContainer">
    <div>
      <label  for="comment">Your comment:</label>
      <div>
        <textarea [(ngModel)]="newComment.UserComment" type="text" class="form-control" name="comment" id="comment" required #comment="ngModel"></textarea>
        <p *ngIf="comment.invalid  && (comment.dirty || comment.touched)">Comment text is required.</p>
      </div>
    </div>
    <div>
      <div>
        <button id="addButton" class="form-button" (click)="addComment()">Add</button>
      </div>
    </div>
</div>
