<h1>{{movie?.Title}}</h1>
<h3>Director: {{movie?.Director?.Name}} {{movie?.Director?.Surname}}, Release year: {{movie?.ReleaseYear}}, Genre: {{movie?.Genre}}</h3>
<p>{{movie?.Description}}</p>
<h2>Average score: {{movie?.AverageScore}}</h2>
<fs-movie-score></fs-movie-score>
<h2>Comments: </h2>
<fs-movie-comments></fs-movie-comments>
