<table *ngIf="movies && movies.length">
  <thead>
    <th>Title</th>
    <th>Genre</th>
    <th>Director</th>
    <th>Release Year</th>
    <th>Avarage Score</th>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td><a [routerLink] = "['/movies', movie.Id]">{{movie.Title}}</a></td>
      <td>{{movie.Genre}}</td>
      <td>{{movie.Director.Name}} {{movie.Director.Surname}}</td>
      <td>{{movie.ReleaseYear}}</td>

      <td>{{movie.AverageScore}}</td>

    </tr>
  </tbody>
</table>
{{errorMessage}}
