<br />
<div id="registerContainer">
  <form (ngSubmit)="register()" #bookForm="ngForm">
    <div>
      <label  for="login">Login:</label>
      <div>
        <input [(ngModel)]="credentials.Username" type="text" class="form-control" name="login" id="login" >
        {{errorMessage}}
      </div>
    </div>
    <div>
      <label  for="password">Password:</label>
      <div>
        <input [(ngModel)]="credentials.Password" type="password" class="form-control" id="password" name="password">
      </div>
    </div>

    <div>
      <div>
        <button id="submitButton" class="form-button">Register</button>
      </div>
    </div>
  </form>
</div>


