/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  font-size: 16px;
  line-height: 25.875px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
  /* color: rgb(46, 46, 46); */
}

div.main {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
}

a {
  color: rgba(54, 54, 94, 1);
  text-align: left;
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
th{
  padding-right:2em;
}

td{
  padding-right:2em;
}

thead{
  border-bottom: 1px;
  border-bottom-color: rgba(102, 102, 102, 1);
  text-align: left;
}

p {
  font-weight: 400;
  font-style: normal;
  margin: 10px 0px;
  font-size: 16px;
  text-align: justify;
}

h1 {
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  margin: 20px 0px;
  letter-spacing: 0px;
  padding: 0px 0px 0px -10px;
  text-align: center;
}

h2 {
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 10px 0px;
}

h3 {
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  margin: 0px 0px 10px 0px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: rgba(102, 102, 102, 1);
  padding: 10px 0px;
  letter-spacing: 1px;
  text-align: center;
}

div.navbar {
/*   margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%); */
  margin-bottom: 1em;
  text-align: center;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  padding: 0px 0px 10px 0px;
}

.logout{
  position: absolute;
  right: 0px;

  padding-right: 22%;
}

button {
  background-color: #e7e7e7; 
  color: rgb(46, 46, 46);
  border: none;
  border-radius: 4px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #3b3b3b; ;
  color: white;
}

/* forms */
form{
  margin: 0 0 10% 10%;
  width: 80%;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

select {
  padding: 6px 6px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

button.form-button {
  width: 100%;
}

button.form-button:hover {
  width: 100%;
}
