<br />
<div id="loginContainer">
  <form (ngSubmit)="login()" #bookForm="ngForm">
    <div>
      <label  for="login">Login:</label>
      <div>
        <input [(ngModel)]="credentials.Username" type="text" class="form-control" name="login" id="login" required #log="ngModel">
        <p *ngIf="log.invalid  && (log.dirty || log.touched)">Login is required.</p>
      </div>
    </div>
    <div>
      <label  for="password">Password:</label>
      <div>
        <input [(ngModel)]="credentials.Password" type="password" class="form-control" id="password" name="password" required #pass="ngModel">
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">Password is required.</div>
        {{errorMessage}}
      </div>
    </div>

    <div>
      <div>
        <button id="submitButton" class="form-button">Login</button>
      </div>
    </div>
  </form>
</div>


