<div *ngIf ="userScore !=0 ">Your score: {{userScore}}</div>
<div *ngIf ="userScore == 0"> 
  <input [(ngModel)]="newUserScore" type="number" [attr.min]="1" [attr.max]="10" [min]="1" [max]="10" class="form-control" name="newUserScore" id="newUserScore" >
  <button (click)="setScoreToMovie()" id="scoreButton" >Score!</button>
</div>

<table>
  <thead>
  <th>Observed User</th>
  <th>Score</th>
  </thead>
  <tbody>
  <tr *ngFor="let score of movieScores">
    <td *ngIf="score.User.Id != userId">{{score.User.Login}}: </td>
    <td *ngIf="score.User.Id != userId">{{score.Score}}</td>
  </tr>
  </tbody>
</table>
{{errorMessage}}
