<table *ngIf="!getCookieAgreement()" class = "cookies">
  <!-- <tr><h4>Cookies</h4></tr> -->
  <tr><td>This website uses cookies.</td>
    <td><button id="agreement" (click)="setCookieAgreement()" class="form-button">OK, I like cookies!</button></td>
  </tr>
</table>
