<form (ngSubmit)="addNewDirector()" #directorForm="ngForm">

  <label for="name">First name:</label>
  <input [(ngModel)]="director.Name" type="text" id="name" name="name" placeholder="Enter first name" required #firstName="ngModel">
  <p *ngIf="firstName.invalid  && (firstName.dirty || firstName.touched)">First name is required.</p>

  <label for="surname">Surname:</label>
  <input [(ngModel)]="director.Surname" type="text" id="surname" name="surname" placeholder="Enter surname" required #surname="ngModel">
  <p *ngIf="surname.invalid  && (surname.dirty || surname.touched)">Surname is required.</p>

  <label for="birthDate">Date of birth:</label>
  <input [(ngModel)]="director.BirthDate" type="date" id="birthdate" name="birthdate" required #birthDate="ngModel">
  <p *ngIf="birthDate.invalid  && (birthDate.dirty || birthDate.touched)">Birth date is required.</p>

  <button type="submit" class="form-button">Add director</button>

</form>
