<div class = "navbar">
  <table>
    <td class="nav-link"><a routerLink = "">filmStudio</a></td>
    <td *ngIf="!userService.getCurrentUser()" class="nav-link"><a routerLink = "/login">Sign in</a></td>
    <td *ngIf="!userService.getCurrentUser()" class="nav-link"><a routerLink = "/register">Sign up</a></td>
    <td *ngIf="userService.getCurrentUser()" class="nav-link"><a routerLink = "/users">List of users</a></td>
    <td *ngIf="userService.getCurrentUser()?.IsAdministrator" class="nav-link"><a routerLink = "/director">Add a director</a></td>    
    <td *ngIf="userService.getCurrentUser()" class="nav-link"><a routerLink = "/movies">List of movies</a></td>
    <td *ngIf="userService.getCurrentUser()?.IsAdministrator" class="nav-link"><a routerLink = "/movies/add">Add a movie</a></td>
    <td *ngIf="userService.getCurrentUser()" class="nav-link logout"><a routerLink = "/login" (click)="logout()">Logout</a></td>
  </table>
</div>
