<form (ngSubmit)="addNewMovie()" #movieForm="ngForm">

  <label for="title">Title:</label>
  <input [(ngModel)]="movie.Title" type="text" class="form-control" id="title" name="title" placeholder="Enter title" required #title="ngModel">
  <p *ngIf="title.invalid  && (title.dirty || title.touched)">Title is required.</p>


  <label for="releaseYear">Release year:</label>
  <input [(ngModel)]="movie.ReleaseYear" type="number" id="year" name="releaseYear" placeholder="Enter release year" required #releaseYear="ngModel">
  <p *ngIf="releaseYear.invalid  && (releaseYear.dirty || releaseYear.touched)">Release year is required.</p>

  <label for="gen">Genre:</label>
  <select [(ngModel)]="movie.Genre" id="gen" name="gen" required #gen="ngModel">
    <option *ngFor="let genre of movieGenres"
            [ngValue]="genre.Value">
      {{genre.Name}}
    </option>
  </select>
  <p *ngIf="gen.invalid  && (gen.dirty || gen.touched)">Genre is required.</p>

  <label for="dir">Director:</label>
  <select [(ngModel)]="movie.Director" id="dir" name="dir" required #dir="ngModel">
    <option *ngFor="let director of directors"
            [ngValue]="director">
      {{director.Name}} {{director.Surname}}
    </option>
  </select>
  <p *ngIf="dir.invalid  && (dir.dirty || dir.touched)">Director is required.</p>

  <label for="description">Description:</label>
  <input [(ngModel)]="movie.Description" type="text" id="description" name="description"
         placeholder="Enter description" required #description="ngModel">
  <p *ngIf="description.invalid  && (description.dirty || description.touched)">Description is required.</p>

  <button type="submit" class="form-button">Add movie</button>

</form>

