<table *ngIf="users && users.length">
  <thead>
  <th>Username</th>
  <th>Observed</th>
  <th *ngIf="currentUser.IsAdministrator"></th>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td *ngIf="user.Id != currentUser.Id">{{user.Login}}</td>
    <td *ngIf="checkForObservedUser(user.Id) && user.Id != currentUser.Id" class="material-icons"> done </td>
    <td *ngIf="!checkForObservedUser(user.Id) && user.Id != currentUser.Id"><button id="observeButton" (click) ="observeUser(user.Id)" >Observe</button></td>
    <td *ngIf="user.IsAdministrator && user.Id != currentUser.Id" > Administrator </td>
    <td *ngIf="!user.IsAdministrator &&currentUser.IsAdministrator == true && user.Id != currentUser.Id "><button id="setAdminButton" (click) ="makeAdmin(user.Id)" >Make admin</button></td>
  </tr>
  </tbody>
</table>
{{errorMessage}}
